
body {
    background-color: #F4E9D6 ;
}

.shopping-container {
    display: block;
    align-items: center;
}

.underline-shop{
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: #8A8635 ;
}

.shopping-a {
    display: flex;
    flex-direction: row;
    justify-content:space-around
}