CreateAccountPage {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #E9C891;
  background-image: url("../../assets/Images/logo.png");
}

form {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

input {
  padding: 10px;
  border: none;
  border-top-width: 2px;
  border-top-style: solid;
}

button {
  width: 60px;
  color: #6C310A;
}